@import url(/css/clash-display.css);

/*VARIABLES*/
:root {
    --main-color: #4c596e;
    --text-color: #fff;
    --other-color:#4c596e;
    --second-color: #4c596e;
    --bg-color:#2d67b3;
    --font-base: "ClashDisplay", sans-serif;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
    --transition: all 0.5s ease;
}

/*RESET & HELPERS*/
body {
    font-family: var(--font-base);
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, h4, .h5 .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 630;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
}

header.sticky {
    padding: 12px;
    background: #2d67b3;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 33px;
    font-weight: 700;
    text-decoration: none;
}

.logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
    text-decoration: none;
}

#menu-icon {
    font-size: 32px;
    columns: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
    text-decoration: none;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: var(--main-color);
    border-radius: 3rem;
    box-shadow: #0d45ff 0px 1px 25px;
}

.nav-icons i {
    vertical-align: middle;
    font-size: 25px;
    color: #000;
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;
}

#menu-icon {
    font-size: 32px;
    columns: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.nav-icons i:hover{
    transform: scale(1.1);
    color: var(--text-color);
}

section {
    padding: 70px 14% 60px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-img img{
    width: 100%;
    height: auto;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;
}

span {
    color: #303949;
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background: var(--other-color);
    color: #000;
    font-size: var(--p-font);
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;
}

.btn i {
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}

.btn:hover {
    background: var(--main-color);
    color: white;
    box-shadow: #092c8d 0px 1px 25px;
}

.btn-2 {
    display: inline-block;
    margin-left: 30px;
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    transition: all .50s ease;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    color: #FFF;
    user-select: none;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
  
.card-item i {
    height: 100%;
    font-size: 100px;
    border-radius: 60%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
} 
  
.card-list .card-item .user-proffesion {
    text-align: center;
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}
  
.card-list .card-item .message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
    margin-top: 15px;
}
  
.card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}
  
.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 15px;
    width: 15px;
}
  
.slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
}
  
.slider-wrapper .swiper-slide-button:hover {
    color: var(--main-color);
}

.sobre-ns {
    width: 100%;
}

.iconbox {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #4c596e;
    color: white;
    font-size: 34px;
    flex: none;
}

/* Estilo general para la sección de feeds */
.social-feeds {
    padding: 50px 0;
}

.social-feeds h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/* Estilo para los contenedores de los feeds */
.feeds-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.feed {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    background-color: #22508b;
}

.feed h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

/* Estilo para los iframes */
.feed iframe {
    border: none;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

/* Forma de trabajar */
.container-c {
    display: flex;
    justify-content: center;
    gap: 5rem;
    display: flex;
}

.card2 {
    background-color: #2d67b3;
    color: #fff;
    padding: 4em 0;
    border: 0;
    border-radius: 4em 0;
    background: linear-gradient(to left, #214a80 50%, rgb(77, 76, 76) 50%);
    background-size: 200%;
    background-position: right;
    transition: all 0.5s ease;
    width: 18rem;
}

.card-icon {
    margin: 1 0em;
}

.card-icon i {
    font-size: 3em;
}

.card2:hover {
    background-position: left;
}

.highlight {
    font-size: 1.16rem; 
    font-weight: bold;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

/* Carrusel de imgs */
.slider-box {
    width: 900px;
    height: 600px;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img {
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #fff;
}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;
}


/* Estilos para la alerta */
.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
    background-color: var(--bg-color);
}

.modal-body {
    padding: 20px;
    background-color: var(--bg-color);
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 15px;
    background-color: var(--bg-color);
}

/* Estilos para la sección CONTACTO */

.vcon .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 

.vcon .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #4c596e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.vcon .infoBox div p {
    color: #000000;
    font-size: 1.2em;
}

.vcon .infoBox div a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
}

/* FOOTER */
#footer {
    width: 100%;
    background: #4c596e;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 18px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}



/*CALCULA KIT CSS*/
/* Estilos generales */
#boddy {
    font-family: var(--font-base);
    background-color: var(--bg-color);
    color: var(--text-color);
}

main#main {
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

.img-kit {
    max-width: 50%;
    margin-left: 35rem;
    margin-top: 60px;
}

.contkit {
    margin-top: 30px;
}



/* Estilos para los labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para los inputs y selects */
input.form-control, select.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para las checkbox */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #008080;
    border-color: #284f90ff;
}

input[type="checkbox"]:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

small {
    color: #6c757d;
}

/* Estilos para los botones */
button.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.btn-primary {
    background-color: var(--main-color);
    color: #fff;
}

button.btn-primary:hover {
    background-color: main;
}

button.btn-secondary {
    background-color: var(--main-color);
    color: #fff;
}

button.btn-secondary:hover {
    background-color: #5a6268;
}

button.btn-success {
    background-color: var(--main-color);
    color: #fff;
}

button.btn-success:hover {
    background-color: var(--main-color);
}

button.btn-close {
    background: none;
    border: none;
    font-size: 24px;
    line-height: 1;
    color: #000;
}

button.btn-close:hover {
    color: #d9534f;
}

/* Estilos para los elementos condicionales */
#opcionesCondicionales, #selectCinta, #selectMensulas, #selectManguera, #selectCable {
    display: none;
}



/* Estilos adicionales */
.custom-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: #0056b3;
}

.card-2 .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
}
.map {
    margin-top: 5%;
    padding:  60px 10px;
}

.vcon {
    padding: 60px 10px;
    width: 50%;
    margin-top: 5%;
}


/* RESPONSIVE (ADAPTABLE A CUALQUIER PANTALLA */

@media (max-width: 491px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 20px;
    }

    .card-icon i {
        font-size: 2em;
    }

    .card {
        padding: 1.5em 0;
        border-radius: 1em 0;
    }

    .vcon .infoBox div span {
        min-width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    .vcon {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        padding: 10px; /* Ajusta el padding para pantallas pequeñas */
    }
    .vcon h3 {
        text-align: center; /* Centrar el título en pantallas pequeñas */
        font-size: 3rem;
    }
    .infoBox > div {
        display: flex;
        flex-direction: column; /* Coloca los íconos arriba de los enlaces */
        align-items: center; /* Centra los íconos y enlaces horizontalmente */
        margin-bottom: 20px; /* Espacio entre cada sección de contacto */
    }
    .infoBox > div > span {
        margin-bottom: 10px; /* Espacio entre el ícono y el enlace */
    }
    .infoBox > div > a {
        text-align: center; /* Centra el texto del enlace */
        font-size: 2rem;
    }

    .vcon .infoBox div p,
    .vcon .infoBox div a {
        font-size: 1.5em;
    }

    .section-title .line {
        width: 40px;
        height: 3px;
    }
    .rec {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu-icon {
        display: initial;
    }

    .navlist {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        background-color: #333;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
    }

    .navlist li {
        margin-bottom: 20px;
    }

    .navlist.open {
        right: 0;
    }

    .menu-icon {
        display: block;
    }

    .feeds-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .feed {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .feed iframe {
        height: 400px; /* Ajusta la altura para pantallas más pequeñas */
    }

    .logo-mz {
        align-items: center;
        justify-content: center;
        margin: 0 40% 0 40%;
    }
    
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .iconbox {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .card {
        padding: 2em 0;
        border-radius: 2em 0;
    }

    .card2 {
        width: 100%;
    }

    .colx {
        margin-top: 20px;
    }

    .ftos-carru {
        width: 100%;
    }

    .container-c {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        
    }

    .img-kit {
        margin-left: 130px;
        margin-right: 150px;
        max-width: 70%;
    }
    

    .sci {
        justify-content: center;
    }

    .sci li a {
        font-size: 1.5em;
    }
    .container {
        margin-top: none;
    }
    .rec {
        margin-top: 2rem;
    }

    .vcon {
        width: 400px;
    }
}

@media (max-width: 576px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 20px;
    }

    .card-icon i {
        font-size: 2em;
    }

    .card {
        padding: 1.5em 0;
        border-radius: 1em 0;
    }

    .vcon .infoBox div span {
        min-width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    .vcon .infoBox div p,
    .vcon .infoBox div a {
        font-size: 1em;
    }

    .section-title .line {
        width: 40px;
        height: 3px;
    }
    .rec {
        margin-top: 2rem;
    }

    .logomzz {
        width: 40px;
    }

    .home-img {
        display: none;
    }
    
}

@media (max-width: 1545px){
    header {
        padding: 22px 4%; 
        transition: .2s;
    }
    .logo {
        font-size: 20px;
    }
    header.sticky {
        padding: 14px 4%;
        transition: .2s;
    }
    section {
        padding: 50px 4% 40px;
        transition: .2s;
    }
    .container {
        padding: 30px 4% 50px;
    }
    .img-kit {
        max-width: 60%;
        margin-left: 13rem;
        margin-top: 60px;
    }
}

@media (max-width: 1180px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
    .home {
        height: 85vh;
    }
}

@media (max-width:991px) {
    .slider-box {
        width: 100%;
        height: 300px;
    }
    
}

/*KIT*/

/* Estilos para pantallas pequeñas (celulares) */
@media (max-width: 576px) {
    /* Ajustes generales */
    body {
        font-size: 14px;
        line-height: 1.5;
    }

    /* Logo */
    .logo-mz {
        margin: 0 40% 0 40%;
    }

    /* Navbar */
    .navbar .navbar-nav {
        text-align: center;
    }
    .navbar .navbar-toggler {
        margin-right: 15px;
    }
    .navbar .btn {
        margin-top: 10px;
    }

    /* Section padding */
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    /* Imagen principal */
    main img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    /* Formularios */
    .form-control {
        margin-bottom: 10px;
    }

    /* Modal */
    .modal-content {
        padding: 10px;
    }

    /* Footer */
    #footer {
        text-align: center;
        padding: 10px;
    }

    /* Ajustes adicionales */
    #opcionesCondicionales, #selectCinta, #selectMensulas, #selectManguera, #selectCable {
        margin-bottom: 15px;
    }

    /* Botón WhatsApp */
    #btn-whatsapp {
        width: 100%;
    }
    .rec {
        margin-top: 2rem;
    }
}



/*KIT*/

/* Estilos para pantallas pequeñas (celulares) */
@media (max-width: 491px) {
    /* Ajustes generales */
    body {
        font-size: 14px;
        line-height: 1.5;
    }

    /* Logo */
    .logo-mz {
        margin: 0 40% 0 40%;
    }

    /* Navbar */
    .navbar .navbar-nav {
        text-align: center;
    }
    .navbar .navbar-toggler {
        margin-right: 15px;
    }
    .navbar .btn {
        margin-top: 10px;
    }

    /* Section padding */
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    /* Imagen principal */
    main img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    /* Formularios */
    .form-control {
        margin-bottom: 10px;
    }

    /* Modal */
    .modal-content {
        padding: 10px;
    }

    /* Footer */
    #footer {
        text-align: center;
        padding: 10px;
    }

    /* Ajustes adicionales */
    #opcionesCondicionales, #selectCinta, #selectMensulas, #selectManguera, #selectCable {
        margin-bottom: 15px;
    }

    /* Botón WhatsApp */
    #btn-whatsapp {
        width: 100%;
    }
    .rec {
        margin-top: 2rem;
    }
}
