@import url(/css/clash-display.css);

/*VARIABLES*/
:root {
    --c-dark: #212529;
    --c-brand: #123142;
    --c-brand-light: #2b3a42;
    --c-brand-rgb : 78, 87, 212;
    --c-brand-light: 18, 49, 66, 57%, 16%;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/*RESET & HELPERS*/
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, h4, .h5 .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 630;
}

a:hover {
    color: var(--c-brand-light);
}

.logo-mz {
    width: 25%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/*IMAGE ZOOM*/
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}




/*NAVBAR*/
.navbar {
    box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/*BTN*/
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: #00070a;
}

/*HERO*/
#hero {
    background: linear-gradient(rgba(0,0,0,0.507), #000), url(../img/bannerofi.jpg);
    background-position: center;
    background-size: cover;
}

/*Section TITLE*/

.section-title {
    margin-bottom: 40px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-ns {
    width: 100%;
}

/*ICONBOX*/
.iconbox {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #3b7594;
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/*SERVICE*/

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
} 

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
}

.ftos-carru {
    width: 350%;
}

/*PORTFOLIO*/

.display-5 {
    display: flex;
    justify-content: center;
}

.section-title-2 h1 {
    align-items: center;
    justify-content: center;
}

.container-c {
    display: flex;
    justify-content: center;
    gap: 5rem;
    display: flex;
}

.card-icon {
    margin: 1 0em;
}

.card-icon i {
    font-size: 3em;
}

.card {
    background-color: #3fa1d6;
    color: #fff;
    padding: 3em 0;
    border: 0;
    border-radius: 4em 0;
    background: linear-gradient(to left, #3b7594 50%, black 50%);
    background-size: 200%;
    background-position: right;
    transition: var(--transition);
}

.card:hover {
    background-position: left;
}

 .vcon h3 {
    color: var(--c-brand-light);
}

.vcon .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.vcon .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #3fa1d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.vcon .infoBox div p {
    color: #000000;
    font-size: 1.2em;
}

.vcon .infoBox div a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #fff;
    font-size: 2em;
    color: #ccc;
}


.sci li a:hover {
    color: #fff;
}

.custom-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
  }
  
  .custom-carousel {
    width: 100%; 
    max-width: 800px; 
  }
  
  .carousel-inner img {
    width: 100%; 
  }
  
  .modal-title {
    color: #284f90;
  }

  .custom-button {
    background-color: var(--c-brand); 
    border-color: #284f90; 
    color: #ffffff; 
}


/*CALCULA KIT CSS*/
/* Estilos generales */
#boddy {
    background-image: url(../img/ftie.jpg);
    position: relative;
}

main#main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Estilos para los labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para los inputs y selects */
input.form-control, select.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para las checkbox */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #008080;
    border-color: #284f90ff;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

small {
    color: #6c757d;
}

/* Estilos para los botones */
button.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.btn-primary {
    background-color: #123142;
    color: #fff;
}

button.btn-primary:hover {
    background-color: #293b4d;
}

button.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

button.btn-secondary:hover {
    background-color: #5a6268;
}

button.btn-success {
    background-color: #28a745;
    color: #fff;
}

button.btn-success:hover {
    background-color: #218838;
}

button.btn-close {
    background: none;
    border: none;
    font-size: 24px;
    line-height: 1;
    color: #000;
}

button.btn-close:hover {
    color: #d9534f;
}

/* Estilos para los elementos condicionales */
#opcionesCondicionales, #selectCinta, #selectMensulas, #selectManguera, #selectCable {
    display: none;
}

/* Estilos para el modal */
.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

/* Estilos adicionales */
.custom-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: #0056b3;
}

.card-2 .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
}
.map {
    margin-top: 5%;
    padding:  60px 10px;
}

.vcon {
    padding: 60px 10px;
    width: 50%;
    margin-top: 5%;
}

#footer {
    width: 100%;
    background: var(--c-brand);
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 18px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .logo-mz {
        align-items: center;
        justify-content: center;
        margin: 0 40% 0 40%;
    }
    
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .iconbox {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .card {
        padding: 2em 0;
        border-radius: 2em 0;
    }

    .ftos-carru {
        width: 100%;
    }

    .container-c {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .sci {
        justify-content: center;
    }

    .sci li a {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 20px;
    }

    .card-icon i {
        font-size: 2em;
    }

    .card {
        padding: 1.5em 0;
        border-radius: 1em 0;
    }

    .vcon .infoBox div span {
        min-width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    .vcon .infoBox div p,
    .vcon .infoBox div a {
        font-size: 1em;
    }

    .section-title .line {
        width: 40px;
        height: 3px;
    }
}

/*KIT*/

/* Estilos para pantallas peque침as (celulares) */
@media (max-width: 576px) {
    /* Ajustes generales */
    body {
        font-size: 14px;
        line-height: 1.5;
    }

    /* Logo */
    .logo-mz {
        margin: 0 40% 0 40%;
    }

    /* Navbar */
    .navbar .navbar-nav {
        text-align: center;
    }
    .navbar .navbar-toggler {
        margin-right: 15px;
    }
    .navbar .btn {
        margin-top: 10px;
    }

    /* Section padding */
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    /* Imagen principal */
    main img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    /* Formularios */
    .form-control {
        margin-bottom: 10px;
    }

    /* Modal */
    .modal-content {
        padding: 10px;
    }

    /* Footer */
    #footer {
        text-align: center;
        padding: 10px;
    }

    /* Ajustes adicionales */
    #opcionesCondicionales, #selectCinta, #selectMensulas, #selectManguera, #selectCable {
        margin-bottom: 15px;
    }

    /* Bot칩n WhatsApp */
    #btn-whatsapp {
        width: 100%;
    }
}

@media (max-width: 491px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 20px;
    }

    .card-icon i {
        font-size: 2em;
    }

    .card {
        padding: 1.5em 0;
        border-radius: 1em 0;
    }

    .vcon .infoBox div span {
        min-width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    .vcon .infoBox div p,
    .vcon .infoBox div a {
        font-size: 1em;
    }

    .section-title .line {
        width: 40px;
        height: 3px;
    }
}

/*KIT*/

/* Estilos para pantallas peque침as (celulares) */
@media (max-width: 491px) {
    /* Ajustes generales */
    body {
        font-size: 14px;
        line-height: 1.5;
    }

    /* Logo */
    .logo-mz {
        margin: 0 40% 0 40%;
    }

    /* Navbar */
    .navbar .navbar-nav {
        text-align: center;
    }
    .navbar .navbar-toggler {
        margin-right: 15px;
    }
    .navbar .btn {
        margin-top: 10px;
    }

    /* Section padding */
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    /* Imagen principal */
    main img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    /* Formularios */
    .form-control {
        margin-bottom: 10px;
    }

    /* Modal */
    .modal-content {
        padding: 10px;
    }

    /* Footer */
    #footer {
        text-align: center;
        padding: 10px;
    }

    /* Ajustes adicionales */
    #opcionesCondicionales, #selectCinta, #selectMensulas, #selectManguera, #selectCable {
        margin-bottom: 15px;
    }

    /* Bot칩n WhatsApp */
    #btn-whatsapp {
        width: 100%;
    }
}
